# Data folder
data/*

# Results and figures
results/*
figures/*

# Slides with updates
updates/*

# Reference genomes
reference/*

# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
._.DS_Store
code/._*

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Other files
*.md
*.pdf
