// Setting up a running profile that works with slum in helix

profiles {
    helix {
        
        // Use singularity containers
        singularity {
            enabled    = true
            autoMounts = true
            cacheDir   = "/gpfs/bwfor/work/ws/hd_kd353-axl_networks/singularity_cache"
        }

        // Define slurm as executor
        process {
            executor = 'slurm'

            // Set max resources
            withName: '.*' {
                cpus   = 12
                memory = 40.GB
                time   = 30.min
            }
        }
    }
}
